*{
    margin: 0;
    padding: 0;
}

#background_index{
   background-image: url("../../assets/images/65489485165.jpg");
   background-size: cover;
   width: 100%;
}
#background_inserir{
    background-image: url("../../assets/images/background.jpg");
    background-size: cover;
    width: 100%;
 }
.estilo{
    color: white;
    text-align: justify;
    margin: 0px;
    text-indent: 30px;
}
label,
legend,
.estilo2{
    color: white;
    text-align: justify;
    margin: 0px;
    font-size: 17px;
}
#cabecalho{
    float: right;
    width: 1000px;
    height: 150px;
    border-bottom: 3px solid;
    border-color: yellow;
    background-color: transparent;
}
#principal{
    width: 1000px;
    height: 800px;
    margin: auto;
    background-color: transparent;
}
h1{
    font-family: 'Neue Frutiger W06','Lucida Grande','Helvetica Neue',Helvetica,Arial,Verdana,sans-serif;
    text-align: center;
    color: white;
    font-size: 20px;
    height: 30px;
    margin-top: 40px;
}
#secao{
    float: right;
    width: 700px;
    margin-top: 40px;
    margin-left: 150px;
    margin-right: 150px;
    background: rgba(255, 255, 255, .1);
    padding: 20px;
}
#navegador{
    float: right;
    width: 980px;
    border-color: black;
    background-color: darkgray;
    margin: 0;
    padding: 10px;
}
nav ul ol a:visited{
    color: black;
}
nav ul ol a:hover{
    background-color: green;
    -webkit-box-align: center;
    color: white;
    border-radius: 5px;
}
nav ul ol a{
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 15px;
    list-style: none;
    display: inline;
    margin-right: 0px;
    text-decoration: none;
    padding: 6px;
    color: black;
}

textarea{
    resize: none;
    font-size: 15px;
}

input,
select,
textarea {
    width: 100%;
}

input[type="radio"],
input[type="checkbox"] {
    width: auto;
}

.grupo-formulario {
    width: 50%;
    float: left;
    margin-top: 10px;
    padding: 10px;
    box-sizing: border-box;
    height: 63px;
}

.grupo-formulario.linha {
    width: 100%;
    height: auto;
}

legend,
.grupo-formulario label {
    display: block;
    margin-bottom: 5px;
}

.grupo-formulario label.linha {
    display: inline;
}

fieldset {
    border: 0;
}
.grupo-formulario select {
    height: 25px;
    font-size: 15px;
}
#valor{
    height: 21px;
    font-size: 15px;
}